<p id="notice"><%= notice %></p>

<h1>Listing Spartan Basketballs</h1>

<table>
  <thead>
    <tr>
      <th>Player name</th>
      <th>Player number</th>
      <th>Has graduated</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spartan_basketballs.each do |spartan_basketball| %>
      <tr>
        <td><%= spartan_basketball.player_name %></td>
        <td><%= spartan_basketball.player_number %></td>
        <td><%= spartan_basketball.has_graduated %></td>
        <td><%= link_to 'Show', spartan_basketball %></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Edit', edit_spartan_basketball_path(spartan_basketball) %></td>
          <td><%= link_to 'Destroy', spartan_basketball, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Spartan basketball', new_spartan_basketball_path %>
<% end %>
