<!DOCTYPE html>
<html>
<head>
  <title>MyNewApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul class="mainNav">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'About', about_path %></li>
    <li><%= link_to 'Cat Pictures', cats_path %></li>
  </ul>

<div class="pageContent">
  <div class="currentTime">
    <%= "It is currently " + current_date_and_time %>
  </div>

  <%= yield %>

</div>

</body>
</html>
